<ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="true">

	<% path = params[:path] 
	if path != nil %>
		<li data-role="list-divider" data-theme="b"><%= path %>
			<a href="#" data-rel="back" class="ui-link ui-btn-rigth ui-btn ui-shadow ui-corner-all" data-role="button" role="button">Back</a>
		</li>
	<% end %>

	<% @data.each do |res| %>
		
		<% is_dir = res.directory? %>
	    <li <%= ! is_dir ? "data-icon=gear" : "" %>>
	
			<a href="<%= is_dir ? '/download?path=' + res.absolute : '#' %>" 
				class="<%= ! is_dir ? 'disabled' : '' %>"><%= res.name %>
			<% if ! is_dir %>
				<span class="ui-li-count"><%= number_to_human_size(res.size) %></span>
			<% end %>
			</a>
			
			<a href="#popupMenu" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">Actions...</a>
			<div data-role="popup" id="popupMenu" data-theme="b">
		        <ul data-role="listview" data-inset="true" style="min-width:210px;">
		            <li data-role="list-divider">Choose an action</li>
		            <li><a href="#">Move to Movie...</a></li>
		            <li><a href="#">Move to Music...</a></li>
		            <li>
						<a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b">Delete</a>
						<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
						    <div data-role="header" data-theme="a">
						    <h1>Delete?</h1>
						    </div>
						    <div role="main" class="ui-content">
						        <h3 class="ui-title">Are you sure you want to delete?</h3>
						    <p>This action cannot be undone.</p>
						        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
						        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Delete</a>
						    </div>
						</div>
					</li>
		        </ul>
			</div>
			
		</li>
	<% end %>
</ul>