<%
is_root = (nav_breadcrumb(@route).size == 1)
@autodiv = false if ! is_root
curr = nav_current(@route) if (! is_root)

sort = fs_get_sort(@route)
@autodiv = false if (sort != Sort::NAME)
%>

<form name="panelParams">
	<input type="hidden" name="name" value="<%= (! curr.nil?) ? curr.name : "" %>" />
	<input type="hidden" name="path" value="<%= (! curr.nil?) ? curr.absolute : "" %>" />
	<input type="hidden" name="route" value="<%= @route %>" />
</form>

<ul data-role="listview" data-inset="true" data-filter="<%= @filter %>" data-autodividers="<%= @autodiv %>">

	<div data-role="controlgroup" data-type="horizontal" data-mini="true">
		<% 
		if (! is_root) 
		%>
			<a <%= "href=/back?route=#{@route}" %> class="ui-btn ui-btn-b ui-corner-all ui-icon-back ui-btn-icon-left" rel="external">&nbsp;</a>
			<% nav_breadcrumb(@route).each do |bc| %>
				<a <%= "href=/filesystem?route=#{@route}&path=#{CGI.escape(bc.absolute)}" %>
					class="ui-btn ui-btn-b ui-corner-all <%= bc == curr ? 'disabled' : '' %>" rel="external"><%= bc.name %></a>
				<% end %>
			<a href="#" class="openPopupMove ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-arrow-r">&nbsp;</a>
			<a href="#" class="openPopupRename ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-recycle">&nbsp;</a>
			<a href="#" class="openPopupDelete ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-delete">&nbsp;</a>
			<a href="#" class="disabled ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a">&nbsp</a>
		<% end %>
		<a href="#" class="openPopupMakedir ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-plus">&nbsp;</a>
		<a <%= "href=/sort?route=#{@route}&sort=#{Sort::NAME}" %> 
			class="ui-btn ui-btn-b ui-corner-all ui-btn-inline <%= (sort == Sort::NAME) ? "ui-btn-active" : "" %>" rel="external">Name</a>
		<a <%= "href=/sort?route=#{@route}&sort=#{Sort::SIZE}" %> 
			class="ui-btn ui-btn-b ui-corner-all ui-btn-inline <%= (sort == Sort::SIZE) ? "ui-btn-active" : "" %>" rel="external">Size</a>
		<a <%= "href=/sort?route=#{@route}&sort=#{Sort::DATE}" %> 
			class="ui-btn ui-btn-b ui-corner-all ui-btn-inline <%= (sort == Sort::DATE) ? "ui-btn-active" : "" %>" rel="external">Date</a>
	</div><!-- /controlgroup -->

	<% @data.each do |res| %>
		<% is_dir = res.directory? %>
		<li <%= is_dir ? "class=directory" : "data-icon=gear" %>>
			<a <% if is_dir %>href="<%= "/filesystem?route=#{@route}&path=#{CGI.escape(res.absolute)}" %>" rel="external">
				<% else %>data-name="<%= res.name %>" data-path="<%= res.absolute %>" class="openPanel" rel="external">
				<% end %>
				<%= res.name %><% if ! is_dir %><span class="ui-li-count"><%= number_to_human_size(res.size) %></span><% end %>
			</a>
		</li>
	<% end %>
</ul><!-- /listview -->

<div data-role="popup" id="popupMove" data-history="false" data-overlay-theme="b" data-theme="b" style="max-width:600px;">
    <div data-role="header" data-theme="a">
        <h1>Move</h1>
    </div>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <div role="main" class="ui-content" id="popupMoveContent">
        <form action="/move" method="post">
            <input type="hidden" name="path" />
            <input type="hidden" name="route" />
			<h3 id="popupMoveName" class="ui-title"></h3>
			<input type="hidden" name="location" />
            <ul data-role="listview" data-inset=true" class="ui-listview-outer" id="popupMoveTree"></ul>
			<h3 id="popupMoveLocation" class="ui-title"></h3>
            <div class="ui-input-btn ui-btn ui-corner-all">
                <input type="submit" value="Ok" />
            </div>
        </form>
    </div>
</div><!-- /popup -->

<div data-role="popup" id="popupRename" data-history="false" data-overlay-theme="b" data-theme="b" style="max-width:600px;">
    <div data-role="header" data-theme="a">
		<h1>Rename</h1>
    </div>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <div role="main" class="ui-content" id="popupRenameContent">
		<form action="/rename" method="post">
			<input type="hidden" name="path" />
			<input type="hidden" name="route" />
			<div class="ui-field-contain">
				<input type="text" data-clear-btn="true" name="name" />
			</div>
			<div class="ui-input-btn ui-btn ui-corner-all">
				<input type="submit" value="Ok" />
			</div>
		</form>
    </div>
</div><!-- /popup -->

<div data-role="popup" id="popupDelete" data-history="false" data-overlay-theme="b" data-theme="b" style="max-width:600px;">
    <div data-role="header" data-theme="a">
		<h1>Delete</h1>
    </div>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <div role="main" class="ui-content" id="popupDeleteContent">
		<form action="/delete" method="post">
			<input type="hidden" name="path" />
			<input type="hidden" name="route" />
			<h3 class="ui-title"></h3>
			<div class="ui-input-btn ui-btn ui-corner-all">
				<input type="submit" value="Ok" />
			</div>
		</form>
    </div>
</div><!-- /popup -->

<div data-role="popup" id="popupInfo" data-history="false" data-overlay-theme="b" data-theme="b" style="max-width:600px;">
    <div data-role="header" data-theme="a">
		<h1>Info</h1>
    </div>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <div role="main" class="ui-content" id="popupInfoContent">
    </div>
</div><!-- /popup -->

<div data-role="popup" id="popupMakedir" data-history="false" data-overlay-theme="b" data-theme="b" style="max-width:600px;">
    <div data-role="header" data-theme="a">
		<h1>Makedir</h1>
    </div>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <div role="main" class="ui-content" id="popupMakedirContent">
		<form action="/makedir" method="post">
			<input type="hidden" name="route" />
			<div class="ui-field-contain">
				<input type="text" data-clear-btn="true" name="name" />
			</div>
			<div class="ui-input-btn ui-btn ui-corner-all">
				<input type="submit" value="Ok" />
			</div>
		</form>
    </div>
</div><!-- /popup -->